{% extends "data.html" %}

{% set active_page = "laptops" %}

{% block title %}Dita Admin - Laptops{% endblock %}

{% block heading %}Laptops{% endblock %}

{% block table_content %}
    <thead>
    <tr>
        <th>Serial No.</th>
        <th>Make</th>
        <th>Owner Id.</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for laptop in laptops %}
        <tr style="cursor: pointer;">
            <td>{{ laptop.serial_no|upper }}</td>
            <td>{{ laptop.make|upper }}</td>
            <td>{{ laptop.owner.id_no }}</td>
            <td align="center">
                <button name="{{ laptop.serial_no }}" class="btn btn-default btn-xs" data-toggle="modal"
                        data-target="#modal">View
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}

{% block modal_title %}Laptops{% endblock %}

{% block form_groups %}
    <div class="form-group">
        <div class="col-sm-6">
            {{ form.serial_no(id="serial_no", class_="form-control", placeholder="Serial No.", required=True) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            {{ form.make(id="make", class_="form-control", placeholder="Make", required=True) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            {{ form.id_no(id="id_no", class_="form-control", placeholder="Owner Id.", required=True) }}
        </div>
    </div>
{% endblock %}

{% block url %}"/laptop/"{% endblock %}

{% block set_details %}
    $("#serial_no").val(result.serial_no);
    $("#serial_no").prop('disabled', true);
    $("#update-key").val(result.serial_no);
    $("#make").val(result.make);
    $("#id_no").val(result.owner);
{% endblock %}

{% block set_blank %}
    $("#serial_no").val("");
    $("#make").val("");
    $("#id_no").val("");
{% endblock %}