{%  extends "data.html" %}

{% set active_page = "members" %}

{% block title %}Dita Admin - Members{% endblock %}

{% block heading %}Members{% endblock %}

{% block table_content %}
<thead>
<tr>
    <th>Student Id</th>
    <th>Name</th>
    <th>Major</th>
    <th></th>
</tr>
</thead>
<tbody>
{% for member in members %}
<tr style="cursor: pointer;">
    <td>{{ member.id_no }}</td>
    <td>{{ member.name|title }}</td>
    <td>{{ member.major|upper }}</td>
    <td align="center">
        <button name="{{ member.id_no }}" class="btn btn-default btn-xs" data-toggle="modal"
                data-target="#modal">View
        </button>
    </td>
</tr>
{% endfor %}
</tbody>
{% endblock %}

{% block modal_title %}Members{% endblock %}

{% block form_groups %}
<div class="form-group">
    <div class="col-sm-6">
        {{ form.id_no(id="id_no", class_="form-control", placeholder="Student Id", required=True) }}
    </div>
</div>
<div class="form-group">
    <div class="col-sm-6">
        {{ form.name(id="name", class_="form-control", placeholder="Name", required=True) }}
    </div>
</div>
    <div class="form-group">
        <div class="col-sm-6">
            {{ form.major(id="major", class_="form-control", placeholder="Major", required=True) }}
        </div>
    </div>
{% endblock %}

{% block url %}"/member/"{% endblock %}

{% block set_details %}
$("#id_no").val(result.id_no);
    $("#id_no").prop('disabled', true);
$("#name").val(result.name);
    $("#major").val(result.major);
{% endblock %}

{% block set_blank %}
$("#id_no").val("");
$("#name").val("");
{% endblock %}
